<div fxLayout="row" fxLayoutAlign="start stretch" fxFlexFill>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>
        <div>
            <mat-card>
                <mat-card-title>Game Presets</mat-card-title>
                <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
                    <mat-form-field appearance="fill">
                        <mat-label>Select a Preset</mat-label>
                        <mat-select [(value)]="selectedPreset" [disabled]="simulationRunning">
                            <mat-option *ngFor="let preset of GamePresets | keyvalue" [value]="preset.value">
                                {{ preset.key }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-button color="primary" (click)="loadPreset()" [disabled]="simulationRunning">Load
                        Preset</button>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <mat-card>
                <mat-card-title>Game Settings</mat-card-title>
                <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
                    <mat-form-field>
                        <mat-label>Rows</mat-label>
                        <input matInput placeholder="Input" [(ngModel)]="rows" [disabled]="simulationRunning"
                            type="number">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Columns</mat-label>
                        <input matInput placeholder="Input" [(ngModel)]="cols" [disabled]="simulationRunning"
                            type="number">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Speed (in Ms)</mat-label>
                        <input matInput placeholder="Input" [(ngModel)]="speedInMs" [disabled]="simulationRunning"
                            type="number">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>No of Generations (0 = ∞)</mat-label>
                        <input matInput placeholder="Input" [(ngModel)]="generationsToSimulate"
                            [disabled]="simulationRunning" type="number">
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="space-around center" fxFill>
                        <button mat-button color="primary" (click)="applyNewGameSettings()"
                            [disabled]="simulationRunning">Apply</button>
                        <button mat-button color="primary" (click)="startSimulation()"
                            [disabled]="simulationRunning">Start</button>
                        <button mat-button color="primary" (click)="stopSimulation()"
                            [disabled]="!simulationRunning">Stop</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <mat-card>
                <mat-card-title>Game State</mat-card-title>
                <mat-card-content>
                    <span>Generation: {{ gameState.currentGeneration }}</span>
                    <div fxLayout="column" fxLayoutAlign="space-around center">
                        <button mat-button color="primary" (click)="exportGameConfiguration()">Export Game</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>


<!-- <h3>Presets</h3>
        
        <div class="row" fxLayout="row" fxLayoutAlign="space-around center">
            
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="0 0 auto">
            
        </div> -->