<!-- <div class="grid-container" *ngIf="gameState">
    <mat-grid-list [cols]="gameState.cols" rowHeight="1:1">
        <ng-container *ngFor="let row of gameState.grid; let rowIndex = index">
            <ng-container *ngFor="let cell of row; let columnIndex = index">
                <mat-grid-tile (click)="toggleState(rowIndex, columnIndex)" [ngClass]="cell">
                    <ng-container *ngIf="showText">{{ rowIndex + 1 }},{{ columnIndex + 1 }}, {{ cell }}</ng-container>
                </mat-grid-tile>
            </ng-container>
        </ng-container>
    </mat-grid-list>
</div> -->

<div class="grid-container" fxLayout="column">
    <div class="grid-row" *ngFor="let row of gameState.grid; let rowIndex = index" fxLayout="row"
        fxLayoutAlign="stretch center">
        <div class="grid-cell" [class.alive]="cell === StatusEnum.Alive"
            *ngFor="let cell of row; let columnIndex = index" (click)="toggleState(rowIndex, columnIndex)"
            fxLayoutAlign="stretch center">
            <ng-container>
                    <!-- <span>{{ rowIndex + 1 }},{{ columnIndex + 1 }}, {{ cell }}</span> -->
            </ng-container>
        </div>
    </div>
</div>


<!-- <mat-divider *ngIf="showDebugInfo"></mat-divider> -->

<!-- Useful for Debuging -->
<!-- <div class="debug-container">
    <pre>
      <code>
        <span>{{ gameState | json }}</span>
      </code>
    </pre>
</div> -->