mat-grid-tile {
    border: 1px solid black;
}

.grid-container {
    width: 100%;
    height: 100%;
    // overflow: scroll;
}

.grid-row {
    height: 100%;
}

.grid-cell {
    width: 100%;
    height: 100%;
    margin-bottom: 1px;
    background-color: #eaeaea;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-overflow: ellipsis;
    overflow: hidden;
}

.grid-row:nth-child(1) > .grid-cell {
    border-top: 1px solid black;
}

.grid-cell:nth-child(1) {
    border-left: 1px solid black;
}

.alive,
.Alive {
    background-color: black;
    color: white;
}

.dead,
.Dead {
    background-color: #eaeaea;
    color: black;
}
