.content {
    padding: 32px;
    background-color: #ebf2fa;
    // overflow: scroll;
}

.header {
    background-color: #05668d;
    color: white;

    .header-content {
        padding: 3em;
    }
}

.sidebar {
    background-color: #427aa1;
}

.footer {
    background-color: #05668d;

    .footer-content {
        color: white;
    }
}
