<div class="colorNested" style="height: 100%">
  <div gdGap="0" gdColumns="300px calc(100vw - 300px)" gdRows="170px auto 50px" style="height: 100%"
    gdAreas="header header header | sidebar content content | footer footer footer">
    <div gdArea="header" class="header" fxLayout="column" fxLayoutAlign="space-around center">
      <div class="header-content" fxLayout="column" fxLayoutAlign="space-around center">
        <h1>Conways Game of Life</h1>
        <span>The Game of Life, also known simply as Life, is a cellular automaton devised by the British mathematician
          John Horton Conway in 1970.</span>
        <span>It is a zero-player game, meaning that its evolution is determined by its initial state, requiring no
          further input. </span>
        <span>One interacts with the Game of Life by creating an initial configuration and observing how it evolves.</span>
      </div>
    </div>
    <div gdArea="sidebar" class="sidebar">
      <app-game-of-life-controls></app-game-of-life-controls>
    </div>
    <div gdArea="content" class="content green" style="position: relative;">
      <app-game-of-life-grid></app-game-of-life-grid>
    </div>
    <div gdArea="footer" class="footer" fxLayout="column" fxLayoutAlign="space-around center">
      <div class="footer-content" fxLayout="column" fxLayoutAlign="space-around center">
        <span>Created with ❤️ by Matthew Marlin</span>
      </div>
    </div>
  </div>
</div>