// Regular style toast 
@import '~ngx-toastr/toastr';
// @import '~ngx-toastr/toastr-bs4-alert';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.control-container {
    margin: 20px;
}

mat-form-field {
    padding: 14px;
}

mat-divider {
    width: 100%;
}